body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sort-item {
  cursor: pointer;
  border-radius: 8px;
  display: inline-block;
  transition: all 0.1s;
  overflow: hidden;
  text-decoration: none;
  font-size: 15px;
}

.sort-item:hover {
  transform: scale(1.02);
  transition: all 0.04s;
}

.sort-item:active {
  transform: scale(0.98);
}

.ql-editor p {
  margin-bottom: 0;
}

.item-edit-button {
  opacity: 0;
  transform: translateX(7px);
  transition: opacity 0.1s, transform 0.3s;
  z-index: 0;
}

.sort-item:hover .item-edit-button {
  transform: translateX(0px);
  opacity: 1;
}

.sort-item-text,
.sort-item-link {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.syncing-popup {
  position: fixed;
  bottom: 4vh;
  left: 3vw;
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding-block: 8px;
  padding-inline: 12px;
  transition: transform 0.4s;
  transform: translateY(100px);
  z-index: 210;
}

.syncing-popup.syncing-true {
  transform: translateY(0px);
}

.filter-block {
  content: "";
}

.filter-active::before {
  height: 9px;
  width: 9px;
  background: rgb(0 0 0 / 70%);
  display: block;
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  border-radius: 10px;
}

.empty-container {
  display: none;
}

.ql-clipboard {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  width: 0px;
}

.mantine-Tabs-tab {
  opacity: 0.5;
}

.mantine-Tabs-tab[data-active="true"] {
  opacity: 1;
}

.animated-welcome {
  width: 0px;
  animation: welcomeAnimation 5s cubic-bezier(0.42, 0, 0, 1.01) 1s 1;
  transition: all cubic-bezier(0.42, 0, 0, 1.01) 0.3s;
}

@keyframes welcomeAnimation {
  0% {
    width: 100px;
  }
  90% {
    width: 100px;
  }
  100% {
    width: 0px;
  }
}

.mantine-Button-root:hover .animated-welcome {
  width: 100px;
}

.rte-checkboxes {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.rte-checkboxes li {
  list-style: none;
  display: flex;
}

.rte-checkboxes ul li {
  margin-top: 0 !important;
}

.rte-checkboxes li div {
  display: inline-block;
  margin-left: 10px;
}

.rte-checkboxes li[data-checked="true"] {
  text-decoration: line-through;
}

.rte-checkboxes li div p {
  margin-bottom: 0;
}

.item-modal-tab .mantine-Modal-modal {
  padding: 0;
}

.rte-no-x-border {
  border-left: none;
  border-right: none;
}
