body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sort-item {
  cursor: pointer;
  border: 2px solid rgb(255 255 255 / 10%);
  border-radius: 8px;
  display: inline-block;
  width: 250px;
  margin: 5px;
  transition: all 0.1s;
  overflow: hidden;
  text-decoration: none;
  font-size: 15px;
}

.sort-item:hover {
  transform: scale(1.02);
  transition: all 0.04s;
}

.sort-item:active {
  transform: scale(0.98);
}

.ql-editor p {
  margin-bottom: 0;
}

.item-edit-button {
  opacity: 0;
  transform: translateX(7px);
  transition: opacity 0.1s, transform 0.3s;
  z-index: 0;
}

.sort-item:hover .item-edit-button {
  transform: translateX(0px);
  opacity: 1;
}

.syncing-popup {
  position: fixed;
  bottom: 4vh;
  left: 3vw;
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding-block: 8px;
  padding-inline: 12px;
  transition: transform .4s;
  transform: translateY(100px);
}

.syncing-popup.syncing-true {
  transform: translateY(0px);
}
